@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-bg: #f8fafc;
  --color-white: #ffffff;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;


  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-poppins {
  font-family: var(--font-poppins);
}


.scrollbar-hidden {
  scrollbar-width: none;
}
/* ✅ Chrome, Edge, Safari (Webkit browsers) */
::-webkit-scrollbar {
  display: 4px;
}

/* ✅ Firefox */
html {
  scrollbar-width: none;
}

/* ✅ Optional (IE / old Edge) */
body {
  -ms-overflow-style: none;
}

.gradient {
  background: linear-gradient(90deg, #ad46ff 0%, #f6339a 100%);
  transition: all 0.3s ease-in-out;
}

.red-gradient {
  background: linear-gradient(96.18deg,
      #C83300 -2.22%,
      #E35545 48.89%,
      #FFA98B 100%);
  transition: all 0.3s ease-in-out;
}


.bg-gradientLight {
  background: linear-gradient(180deg,
      #b67cf8e1 0%,
      hwb(8 51% 43% / 0.685) 100%);
  transition: all 0.3s ease-in-out;
}

.bg-gradientBlue {
  background: linear-gradient(
    160deg,
    rgb(64, 83, 135) 0%,
    rgb(29, 78, 216) 40%,
    rgb(37, 99, 235) 70%,
    rgb(59, 130, 246) 100%
  );
  transition: all 0.3s ease-in-out;
}

.bg-circle {
  background: linear-gradient(
    160deg,
    rgba(64, 83, 135, 0.04) 0%,
    rgba(29, 79, 216, 0.155) 40%,
    rgba(37, 100, 235, 0.138) 70%,
    rgba(59, 131, 246, 0.1) 100%
  );
  transition: all 0.3s ease-in-out;
}

.bg-sidebar-gradient {
  background: linear-gradient(180deg, #1e1a4d 0%, #59168b 100%);
  transition: all 0.3s ease-in-out;
}

.bg-sidebar-active-gradient {
  background: linear-gradient(90deg, #7932f5 0%, #fa3095 100%);
  transition: all 0.3s ease-in-out;
}
